<!DOCTYPE html>
<html>
  <head>
    <title>IHateToEat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body id="admin-body">
    <%= render 'admin/shared/sidemenu' %>
    <div>
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </div>
  </body>
</html>
