<div id="admin-contents">
  <h3>ユーザー登録</h3>

  <div class="admin-form">
    <%= form_with model: @user, url: admin_users_path, local: true do |f| %>
      <%= render 'admin/shared/error_messages', object: f.object %>
      <div class="admin-form-group">
        <%= f.label :name, class: "admin-form-label" %><br>
        <%= f.text_field :name, class: "admin-form-text" %>
      </div>
      <div class="admin-form-group">
        <%= f.label :email, class: "admin-form-label" %><br>
        <%= f.email_field :email, class: "admin-form-text" %>
      </div>
      <div class="admin-form-group">
        <%= f.label :password, class: "admin-form-label" %><br>
        <%= f.text_field :password, class: "admin-form-text" %>
      </div>
      <div class="admin-form-group">
        <%= f.label :password_confirmation, class: "admin-form-label" %><br>
        <%= f.text_field :password_confirmation, class: "admin-form-text" %>
      <div class="admin-form-group">
        <%= f.label :role, class: "admin-form-label" %><br>
        <%= f.select :role, User.roles_i18n.invert, {}, class: "admin-form-select" %>
      </div>
      <%= f.submit class: "admin-form-btn" %>
    <% end %>
  </div>
</div>