<div id="admin-login">
  <div class="admin-login-form">
    <h4>管理者用ログイン</h4>
    <%= form_with url: admin_login_path, local: true do |f| %>
      <div class="admin-login-form-group">
        <%= f.label :email, class: "admin-login-form-label" %><br>
        <%= f.email_field :email, class: "admin-login-form-text" %>
      </div>
      <div class="admin-login-form-group">
        <%= f.label :password, class: "admin-login-form-label" %><br>
        <%= f.password_field :password, class: "admin-login-form-text" %>
      </div>
      <%= f.submit "login", class: "admin-login-form-btn" %>
    <% end %>
  </div>
</div>